:root {
    --pink: #F94F5A;
    --purp: #374A84;
    --navy: #00072D;
    --blue: #001C55;
    --li-blue: #A6E1FA;
    --lav: #a682ff;
    --dk-lav: #715aff;
    --fire: #FB3640;
    --green: #1EFFBC;
}

body {
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Staatliches', cursive;
    // font-family: 'Major Mono Display', monospace;
    background: var(--navy);
    color: var(--li-blue);
}

#main-nav {
    ul {
        // display: grid;
        // grid-auto-flow: column;
        // grid-gap: 1em;
        margin: 0;
        padding: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 0;
        // grid-auto-columns: min-content;
        justify-content: center;
        font-size: 1.5em;
        transition: all .5s;
        &:hover {
        //    background: var(--blue);

        }
        li {
            // background: var(--purp);
            list-style: none;
            display: block;
            font-family: 'Staatliches', cursive;
            // font-size: 2em;
            transition: all .5s;
            // padding: .2em;
            // border-radius: 10px;


            &:hover {
                // background: var(--dk-lav);
                // padding: .2em .5em;
                // order: 2;
            }

            button {
                padding: .1em 0;
                // border-radius: 10px;
                transition: all .5s ease;
                // transition: margin 1s ease;
                color: var(--dk-lav);
                text-decoration: none;
                background: none;
                border: none;
                margin: 0 .4em;
                border-bottom: 3px solid var(--navy);
                cursor: pointer;
                order: 1;
                

                &:hover {
                    // background: var(--lav);
                    // padding-right: .5em;
                    color: var(--green);
                    color: var(--fire);

                    // background: var(--dk-lav);
                    margin: auto 1em;
                    border-bottom: 3px solid var(--li-blue);
                    border-bottom: 3px solid var(--dk-lav);

                }
                &:focus {
                    outline-style: none;
                    border-color: var(--navy);
                  color: var(--lav);
                  margin: 0 .4em;
                    // border-bottom: 3px solid var(--dk-lav);
                }
                &:active{
                    border-color: var(--fire);
                    // margin: 0 .2em;
                }
// &:focus {
//     background: pink;
// }
            }
        }
    }
}

#main, section {
    margin: auto;
    padding: 1em;
}