:root {
  --pink: #F94F5A;
  --purp: #374A84;
  --navy: #00072D;
  --blue: #001C55;
  --li-blue: #A6E1FA;
  --lav: #a682ff;
  --dk-lav: #715aff;
  --fire: #FB3640;
  --green: #1EFFBC;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--navy);
  color: var(--li-blue);
}

#main-nav {
  font-size: 1.5em;
  font-family: 'Staatliches', monospace;
}

#main-nav ul {
  margin: 0;
  list-style: none;
  padding: .5em;
}

@media screen and (min-width: 600px) {
  #main-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#main-nav li {
  padding: .5em 0;
}

#main-nav button {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  color: var(--dk-lav);
  background: none;
  border: none;
  border-left: 3px solid var(--li-blue);
  margin: 0 .4em;
  cursor: pointer;
  outline-style: none;
  padding-left: .3em;
}

@media screen and (min-width: 600px) {
  #main-nav button {
    padding: .1em 0;
    border-left: none;
    padding-left: 0;
    border-bottom: 3px solid var(--navy);
  }
}

#main-nav button:hover {
  color: var(--fire);
  padding-left: .7em;
  border-color: var(--dk-lav);
}

@media screen and (min-width: 600px) {
  #main-nav button:hover {
    padding-left: 0;
    margin: 0 1em;
  }
}

#main-nav button:focus {
  color: var(--lav);
  margin: 0 .4em;
  border-color: var(--green);
}

@media screen and (min-width: 600px) {
  #main-nav button:focus {
    border-color: var(--navy);
  }
}

#main-nav button:active {
  border-color: var(--fire);
}

#main,
section {
  margin: auto;
  padding: 1em;
}

body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "tbd" "footer";
}

@media screen and (min-width: 600px) {
  body {
    background: black;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header header" "main main tbd" "footer footer footer";
  }
}

#header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

#main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

#footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

#tbd {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tbd;
  background: var(--dk-lav);
}

#hero {
  display: -ms-grid;
  display: grid;
  padding: 0;
}

#hero picture {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

#hero img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#hero-portrait {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 60vmax;
}

#hero-portrait img {
  margin-top: 10vmin;
}

#hero-background {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  min-height: 50vh;
  background: white;
  background-image: linear-gradient(350deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, black 90%), url("/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hero-banner {
  -ms-grid-column-align: center;
      justify-self: center;
}

#hero-banner img {
  max-width: 600px;
}

#hero-logo {
  -ms-grid-column-align: center;
      justify-self: center;
}

#hero-logo img {
  margin-top: 5vmin;
}
/*# sourceMappingURL=main.css.map */