// :root {
//     --pink: #F94F5A;
//     --purp: #374A84;
//     --navy: #00072D;
//     --blue: #001C55;
//     --li-blue: #A6E1FA;
//     --lav: #a682ff;
//     --dk-lav: #715aff;
//     --fire: #FB3640;
//     --green: #1EFFBC;
// }
:root {
    --pink: #F94F5A;
    --purp: #374A84;
    --navy: #00072D;
    --blue: #001C55;
    --li-blue: #A6E1FA;
    --lav: #a682ff;
    --dk-lav: #715aff;
    --fire: #FB3640;
    --green: #1EFFBC;
    --dk-green: #3ddc97;
    --teal: #17bebb;
    --dk-teal: #004e64;

    --light1: var(--li-blue);
    --light2: var(--lav);
    --light3: var(--dk-lav);
    --light4: white;
    --dark1: var(--purp);
    --dark2: var(--blue);
    --dark3: var(--navy);
    --dark4: black;
    --pop1: var(--fire);
    --pop2: var(--pink);
    --pop3: var(--green);
    --pop4: var(--dk-green);
    --pop5: var(--teal);
    --pop6: var(--dk-teal);
}
body {
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Staatliches', cursive;
    // font-family: 'Major Mono Display', monospace;
    background: var(--navy);
    color: var(--li-blue);
}

#main-nav {
    font-size: 1.5em;
    font-family: 'Staatliches', monospace;

    ul {
        margin: 0;
        list-style: none;
        padding: .5em;

        @media screen and (min-width: 600px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

    }

    li {
        padding: .5em 0;
    }

    button {
        transition: all .5s ease;
        color: var(--dk-lav);
        background: none;
        border: none;
        border-left: 3px solid var(--li-blue);
        margin: 0 .4em;
        cursor: pointer;
        outline-style: none;
        padding-left: .3em;

        @media screen and (min-width: 600px) {
            // line-height: normal;
            padding: .1em 0;
            border-left: none;
            padding-left: 0;
            border-bottom: 3px solid var(--navy);
        }

        &:hover {
            color: var(--fire);
            padding-left: .7em;
            border-color: var(--dk-lav);

            @media screen and (min-width: 600px) {
                padding-left: 0;
                margin: 0 1em;
            }
        }

        &:focus {
            color: var(--lav);
            margin: 0 .4em;
            border-color: var(--green);

            @media screen and (min-width: 600px) {
                border-color: var(--navy);
            }
        }

        &:active {
            border-color: var(--fire);

        }
    }

}
#header {
    grid-area: header;
}

#main {
    grid-area: main;
    // background: yellow;
}

#footer {
    grid-area: footer;
    // background: navy;
}

.tbd {
    grid-area: tbd;
    background: var(--dk-lav);
}

#main,
section {
    margin: auto;
    padding: 1em;
}

body {
    // display: grid;
    grid-template-areas:
        "header"
        "main"
        "tbd"
        "footer";
}

@media screen and (min-width: 600px) {
    body {
        background: black;
        // display: grid;
        grid-template-areas: "header header header"
            "main main tbd"
            "footer footer footer";
    }
}



#hero {
    display: grid;
    padding: 0;

    picture {
        grid-row: 1;
        grid-column: 1;
    }

    img {
        display: block;
        object-fit: contain;
        width: 100%;
        box-sizing: border-box;
        object-fit: contain;
        // height: fit-content;

    }
}

#hero-portrait {
    align-self: end;
    justify-self: center;
    max-width: 60vmax;

    img {
        margin-top: 20vh;
    }
}

#hero-background {
    grid-row: 1;
    grid-column: 1;
    // min-height: 50vh;
    // max-height:50vh;
    background: white;
    background-image: linear-gradient(350deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgb(0, 0, 0) 90%), url("https://bunkrich.github.io/tsquared/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hero-banner {
    justify-self: center;

    img {
        padding-top: 5vmax;
        max-width: 80vmin;

    }
}

#hero-logo {
    justify-self: center;

    img {
        margin-top: 10vmin;
    }
}
/* Tiny reset thingy */
// body,html{margin:0;padding:0;}

.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

#todd {
    height: 100vh;
    /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
    overflow-x: hidden;
    /* Enable scrolling on the page. */
    overflow-y: auto;
    /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
    perspective: 2px;
    border: 3px solid yellow;

}
.pic-para {
    background-color: pink;
    opacity: .5;
    border: 3px solid orange;
}
.section, .pic-para {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
  
  
  /* For text formatting. */
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: white;
//   text-shadow: 0 0 5px #000;
}

.parallax::after, .pic-para::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -1;
}

/* The styling for the static div. */
.static {
  background: red;
}

/* Sets the actual background images to adorable kitties. This part is crucial. */
.bg1::after {
//   background-image: url('https://placekitten.com/g/900/700');
background-image: url('/img/background.jpg');

//   background: -webkit-linear-gradient(45deg, var(--light4), var(--light1), var(--light2), var(--light3), var(--light3), var(--light3), var(--light2), var(--light1), var(--light4));

}
.pic-para::after {
    // background-image: url('/img/podcast.png');

}
.bg2::after {
  background-image: url('https://placekitten.com/g/800/600');
}

img {
    display: block;
    object-fit: contain;
    width: 100%;
}

#parallax-container {
    display: block;
    height: 500px; // This height can be adjusted here and below
    // max-width: 400px;
    // margin: auto;
    // width: 100px;
    // border: 1px solid yellow;
    // margin: 5em
    margin-bottom: 50px;
 }
 
 #parallax-container div {
    position: fixed;
    top: 0;
    background-position: center !important;
    background-repeat:no-repeat;
    background-size:contain;
    transform: translateY(0px);
    height: 500px; // Keep this the same height as above
    width: 100%;
    max-width: 500px;
    // border: 1px solid red;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;

 }
 
 #content {

    position: relative;
    background: var(--navy);
    z-index: 100;
 }
 